<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>App Component</h2>
      <hr />
      <!-- recommended and default method -->
      <!-- Basics of Angular in app-servers component 
      <app-servers></app-servers> -->
      <!-- attribute method 
      <div app-servers></div> -->
      <!-- class method 
    <div class="app-servers"></div> -->
      <!-- Assignments from basics learned so far
      <success-alert></success-alert>
      <warning-alert></warning-alert> -->
    </div>
  </div>
  <!-- Components and data binding -->
  <app-comp-data-binding></app-comp-data-binding>
</div>
